.boxedrednofill {
  border: 2px solid red ;
}
.boxedredfill {
  border: 2px solid red ;
  background: red;
}
.boxedbluenofill {
  border: 2px solid blue ;
}
.boxedbluefill {
  border: 2px solid blue ;
  background: blue;
}
.boxedgreynofill {
  border: 2px solid gray ;
}
.boxedgreyfill {
  padding: 0px ;
  margin: -16px ;
  border: 2px solid gray ;
  background: gray ;
}
.bigger { font-size:200%; }
