.boxedrednofill {
  border: 2px solid red ;
}
.boxedredfill {
  border: 2px solid red ;
  background: red;
}
.boxedbluenofill {
  border: 2px solid blue ;
}
.boxedbluefill {
  border: 2px solid blue ;
  background: blue;
}
body, html
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  .boxedgreyfill {
    border: 2px solid gray ;
    background: gray ;
  }
}
.boxedgreynofill {
  border: 2px solid gray ;
}
.bigger { font-size:300%; }
